@model Unearth.Grpc.GrpcService
@{
    ViewBag.Title = "Index";
    ViewBag.Refresh = 5;
}

<h2>@Model.Name</h2>
<ul>
    @foreach(Uri uri in Model.Uris)
    {
        <li>@uri.ToString()</li>
    }
</ul>
