<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="mdwiki.html"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".md" mimeType="text/markdown"/>
    </staticContent>
  </system.webServer>
</configuration>